/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


body {
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 60px;
    color: #f5f5f5;
    margin: auto;
    margin-top: 20px;
}

.perex {
    font-size: 16px;
    color: #f5f5f5;
    font-style: bold;
}

.autor {
    font-size: 16px;
    color: #aa9f9f;
    font-style: italic;
}

.autor::before {
    content: " ";
    display: block;
    background-color: #aa9f9f;
    width: 80px;
    height: 3px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5%;
}

.hlavicka {
    text-align: center;
    padding: 30px 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

   

/* MENU 
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(images/rajcata.jpg);
*/

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.menu li {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid  #aa9f9f;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}


.menu li a {
    font-size: 12px;
    color: #aa9f9f;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', serif;
}


/* OBSAH */

.uvod img,
.proc img,
.comusitevidet img {
    max-width: 100%;
    height: auto;
}

.popisek {
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 12px;
    color: #aa9f9f;
    margin: 0;
}

.popisek a {
    color: #aa9f9f;
}

p,
h2 {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    padding-top: 20px;
    font-family: 'Raleway', serif;
}

.proc h2::after,
.comusitevidet h2::after,
.fotogalerie h2::after {
    content: " ";
    display: block;
    background-color: rgba(59, 116, 221, 0.822);
    width: 60px;
    height: 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5%;
    margin-left: -20px;
}

/* FOTOGALERIE */
.popisek-copy {
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 12px;
    color: #aa9f9f;
}

.foto {
    margin: 0%;
    size: contain;
    text-align: center;
    padding: 0;
    margin-top: 1rem;
}

.foto img {
    max-width:100%;
    height: auto;
   
}


/* PATICKA */

.paticka {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15));
    padding: 0 30px 0 30px;
    font-size: 12px;
    color: #aa9f9f;
    max-width: auto;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.paticka a {
    color: #aa9f9f;
}



@media screen and (min-width: 550px) {
.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.hlavicka,
.menu {
    width: auto;
}

menu li a {
    font-size: 10px;
}

.menu li {
    border-top: 1px solid  #aa9f9f;
}

.prvni,
.druhy, 
.treti {
    border-right: 1px solid  #aa9f9f;;
}

.obal {
    position: relative;
}

.obal .popisek {
    position: absolute;
    color: white;  
    text-align: right;
    right: 0;
    bottom: 0;
    margin-bottom: 1rem;
}

.obal a {
    color: white;
}
    
.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

figure{
    max-width: 50%;
    position: relative;
    flex-basis: 1;
}

figure .popisek {
    display: none;
}

.foto {
    font-size: 0;
    margin: 0;
}


figure:hover {
    display: visible;
    position: absolute;
    top: ;
    left: ;
    transform: translate(-10%, -50%);
}

}

@media screen and (min-width: 1000px) {

.obsah {
    width: 960px;
    margin: auto;
    background-color: white;
    margin-top: -50px;
}

body {
    background-color: #ebe6e6;
    margin-top:0;
    margin-right: 0;
    margin-left: 0;
}

figure {
    max-width: calc(100%/3);
}

.proc p {
    padding-right: 250px;
}

.proc .popisek {
    padding-right: 20px;
}

.comusitevidet p,
.comusitevidet h2,
.dalsiinfo p {
    padding-left: 250px;
}

.galerie {
    max-width: 100%;
    margin-bottom: 0;
}

.menu {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    width: 250px;
    padding-right: 10px;
    float: left;
    
}

.menu li {
    border-bottom: 1px solid  #aa9f9f;
    width: 150px;
    text-align: left ;
    padding-top: 3px;
    padding-bottom: 3px;
     border-top: 0;
}


menu li a {
    font-size: 12px;
}

.prvni,
.druhy, 
.treti {
    border-right:0;
}

.uvod p {
    padding-top: 20px;
    padding-left: 250px;
}

.hlavicka {
    padding-top:0;
    
}

.titulek {
margin-top: 0;
}

.fotogalerie {
    margin-bottom: 0;
}

.paticka {
    padding-left: 0;
    font-size: 12px;
    color: #aa9f9f;
    max-width: auto;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 0;
    background: #ebe6e6;
}
.paticka p {
    padding-left: 0;
}
}

(menu -> float, text -> padding-left?)


